# .env 파일은 backend 바로 안에 생성

DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
KAKAO_CLIENT_ID=4a4e2ab23401fe5f3ca6a9bc787f014b            # REST API KEY
KAKAO_CLIENT_SECRET=FKuGYYUphbYZXFMLhyOOudgclmp5nBO3        # CLIENT SECRET
KAKAO_REDIRECT_URI=http://localhost:8000/api/auth/kakao/callback